body{
	background-color: #f1f1f1;
	font-family: 'Roboto', sans-serif;
}

div.myHeader {
	font-size: 50px;
	margin-bottom: 50px;
	text-align: center;
}

div.body-text{
	position: relative;
	color: #505050;
	font-size: 30px;
	margin-bottom: 40px;
	padding-left: 50px;
	padding-right: 50px; 
}

div.contact{
	color: #666666;
	margin-bottom: 40px;
	font-size: 20px;
}


img {
    display: block;
    margin: auto;
    width: 25%;
}
